.notifications {
  /* width: 600px; */
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  
}
.noti-lists{
    overflow: scroll;
    overflow-x: hidden;
    height: 405px;

}
